:root {
    --bg-dark: #0D0F14;
    --bg-card: #1A1D24;
    --neon-blue: #70D6FF;
    --neon-purple: #A370FF;
    --text-white: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    background: rgba(45, 58, 90, 0.9);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    border: 2px solid var(--neon-blue);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--neon-blue);
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-white);
}

.nav-links a:hover {
    color: var(--neon-purple);
}

hr{ height: 2px;
     border: none; 
     background: linear-gradient(to right, #70D6FF, #A370FF); 
     box-shadow: 0 0 10px rgba(112, 214, 255, 0.5), 0 0 10px rgba(163, 112, 255, 0.5); 
     width: 100%; }

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    gap: 40px;
}

.hero-img {
    max-height: 400px;
}

.highlight {
    color: var(--neon-blue);
    text-shadow: 0 0 15px var(--neon-blue);
}

.hero-subtitle {
    margin: 20px 0;
    max-width: 500px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(var(--bg-card), var(--bg-card)),
                      linear-gradient(to right, var(--neon-blue), var(--neon-purple));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 15px rgba(112, 214, 255, 0.4);
}

/* SECTIONS */
section {
    padding: 60px 10%;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.skill-item {
    background: var(--bg-card);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 3px solid var(--neon-blue);
}

.skill-item ul {
    list-style: none;
    margin-top: 10px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background: var(--bg-card);
    padding: 25px;
    border-radius: 15px;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    color: var(--neon-blue);
    text-decoration: none;
}
.project-link:hover {
    color: var(--neon-purple);
    text-shadow: 0 0 10px var(--neon-purple);
}
.contact {
    text-align: center;
}

.contact a {
    color: var(--neon-blue);
}

footer {
    background: rgba(45, 58, 90, 0.9);
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
}
